# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
cscope.*
# CVS default ignores end

/CASSETTE.CAS
/DXERR.TXT
/JOSH.LOG
/KEYTRAP.COM
/M1L1.ROM
/MODS.TXT
/cassette.man.pdf
/cassette.txt
/cmddump
/cmddump.man.pdf
/cmddump.txt
/compile_rom
/cpmutil.txt
/dosxtrs
/dosxtrs.exe
/dskspec.txt
/fakerom.hex
/fakerom.lst
/hex2cmd
/hex2cmd.man.pdf
/hex2cmd.txt
/mkdisk
/mkdisk.man.pdf
/mkdisk.txt
/trs_rom1.c
/trs_rom3.c
/trs_rom4p.c
/x.tmp
/xtrs.man.pdf
/xtrs.txt
/xtrsrom4p.hex
/xtrsrom4p.lst
CWSDPMI.SWP
M1L2.ROM
_CSTE.CTL
/dboxrun/
/debuglogs/
.Rproj.user
/zout/
/.idea/
/export.cmd
/export.hex
/export.lst
/import.cmd
/import.hex
/import.lst
/settime.cmd
/settime.hex
/settime.lst
/xtrs8.dct
/xtrs8.hex
/xtrs8.lst
/xtrshard.dct
/xtrshard.hex
/xtrshard.lst
/xtrsmous.cmd
/xtrsmous.hex
/xtrsmous.lst

/esfrom.hex
/esfrom.lst

/old-dboxrun/
